<!-- Header -->

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <section class="jumbotron jumbotron-about jumbotron-slim">
            <div class="container">
                <div>
                    <div class="col-lg-8 mx-auto text-center text-white">
                        <h2>What's Beeflix?</h2>
                        <hr class="light my-4">
                        <P class="text-faded mb-4">Beeflix Video was founded in 2007. It started as a small company of
                            one under Nathanael Bakare, curating lost movies of early Nigerian cinema. Since that time
                            it has seen many ups and downs, but it has never waivered from its mission to collect and
                            curate rare and excellent films in all genres. In 2012, when the shop was on the brink of
                            closure, Babatunde Fashola, then governor of Lagos state, on behalf of it's ministry of
                            arts and culture made an offer to partner with Beeflix in the hopes of keeping it open for
                            the sake its loyal, brilliant community...</P>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>