<!-- Header -->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <section class="jumbotron jumbotron-about jumbotron-slim">
      <div class="container">
        <!-- Contact Form -->
        <div class="row">
          <div class="col-lg mb-4">
            <h4>Send us a Message</h4>
            <form name="sentMessage" id="contactForm" novalidate>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="name" placeholder="Full Name" class="form-control form-control__full" id="name" required
                    data-validation-required-message="Please enter your name.">
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <input type="email" placeholder="E-mail" class="form-control" id="email" required
                    data-validation-required-message="Please enter your email address.">
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <textarea rows="5" cols="5" placeholder="Message" class="form-control" id="message" required
                    data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                </div>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>