		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand navbar-logo" rel="icon" routerLink="index.html" sizes="any" type="image/svg+xml">
          <img src="images/logo.svg" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="">
                    <input type="text" name="s" placeholder="Movie search..."/>
                    <input type="submit" alt="Search" value="Go" class="btn btn-primary btn-sm js-scroll-trigger btn-round rounded-circle" />
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pages/movies.html">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pages/about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pages/contact.html">Get in Touch</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
