<header class="mastfull text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <h3 class="my-4 text-center text-lg-left">Movie Gallery</h3>
      <section class="jumbotron jumbotron-about jumbotron-slim">
        <div class="container">
          <div>
            <div class="col-lg-8 mx-auto text-center text-white">
              <hr class="light my-4" />
              <p class="text-faded mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iste ipsa molestiae, neque dicta fugiat dolor praesentium, asperiores quidem veniam laboriosam ipsum aliquid obcaecati necessitatibus sapiente repellat illo nostrum quae!</p> 
            </div>
          </div>
        </div>
      </section>
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage01.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage02.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage03.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage04.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage05.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage06.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage07.jpg" alt />
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a routerLink="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../images/movieimage08.jpg" alt />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>