/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";


/*Our global stles that are used throughout*/

* {
	box-sizing: border-box;
} 

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
	background-color: white;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}


input[type="text"] {
	min-width: 250px;
	width: auto;
	height: 40px;
	border: 0.2px solid #bdbdbd;
	cursor: text;
	transition: border-color 0.15s ease-in-out;
	padding: 6px 15px;
	background: none 0px 0px repeat scroll rgb(255, 255, 255);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(221, 221, 221);
	border-image: initial;
	border-radius: 20px;
	outline: none;
}


p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2 {
	color: #093a58;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a {
	color: #E28E22;
}

a:hover,
a:active {
	color: #282324;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

ul {
	display: flex;
  flex-direction: row;
}

.article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: 0 none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn--orange {
	background-color: #E28E22;
}


.btn-xl {
  padding: 1rem 2rem;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
  border: none;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  border: none;
}

.btn-round {
  height: 40px;
  margin-left: 7px;
  margin-top: -7px;
  padding: 0;
  width: 40px;
}

.input-field {
	border: 1px solid #d9dbdd;
	padding: .625rem;
	outline: none;
	border-radius: .3125rem;
	width: 90%;
	margin-bottom: 1.2rem;
}

.input-field:hover,
.input-field:active {
	border: 2px solid #bbbbde;
}

.form-control__full {
  width: 100% important;
  border-radius: none imprtant; 
}

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

/** Subscribe Area **/

.subscribe-area {
  /* background-color: #282324; */
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}


.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 20px;
}

/* Style the input fields */
.form-control {
  width: 100%;
  padding: 10px;
  outline: none;
}


