<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright c-font-16">
          BeeFlix<br />75001 Lagos <br />Nigeria<br />
          <br /> E-mail: <a href="mailto:contact@beeflix.com"><span class="c-theme-color">contact@beeflix.com</span></a>
          <br />
        </p>
        <p class="copyright text-muted">Copyright &copy; 2018 Beeflix. All rights reserved. <a href="#" class="btn">Get
            in Touch</a></p>
      </div>
    </div>
  </div>
</footer>