<!-- Header -->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong style="color: #007bff;">BEEFLIX</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <h6 class="text-faded mb-5">Lagos' Last Great Video Rental</h6>
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="#about">Find Out More</a>
      </div>
    </div>
  </div>
</header>

<section class="jumbotron jumbotron-about" id="about">
  <div class="container">
    <div class="col-lg-8 mx-auto text-center text-white">
      <h2>What's Beeflix?</h2>
      <hr class="light my-4">
      <P class="text-faded mb-4">Beeflix Video was founded in 2007. It started as a small company of one under
        Nathanael Bakare, curating lost movies of early Nigerian cinema. Since that time it has seen many ups and
        downs, but it has never waivered from its mission to collect and curate rare and excellent films in all genres.
        In 2012, when the shop was on the brink of closure, Babatunde Fashola, then governor of Lagos state, on behalf
        of it's ministry of arts and culture made an offer to partner with Beeflix in the hopes of keeping it open for
        the sake its loyal, brilliant community...</P>
      <p class="text-faded mb-4">The advent of the #1000 monthly membership, a new focus on exemplary customer service,
        and partnerships with companies like Silverbird, GT bank and other public parastatals, Beeflix is doing well
        enough to support three employees, continue stocking new films and maintain its massive library. </p>
      <div class="text-faded mb-4">We don't know what the future of the digital age and entertainment will look like,
        but we are determined to be a part of the landscape as both an archival resource and a bastion for our rich
        African culture. </div>
    </div>
  </div>
</section>

<section id="movie-highlights">
  <h2 class="text-center">MOVIE HIGHLIGHTS</h2>
  <br>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('images/slide001.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Slide</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('images/slide002.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('images/slide003.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div>
          <h5>Newsletter</h5>
        </div>

        <p>Subscribe to our weekly Newsletter and stay tuned.</p>

        <form action="" method="post" role="form">
          <div class="input-container subscribe-area">
            <i class="fa fa-envelope icon"></i>
            <input class="form-control" type="text" id="" name="" placeholder="your@email.com">
          </div>
          <input type="submit" value="Subscribe" class="btn btn-large btn-primary" />
        </form>
      </div>
    </div>
  </div>
</section>